@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Oswald&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lora:wght@500&family=Oswald&family=Raleway&display=swap');

html, body {
    width: 100%;
    max-width: 100vw;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #FFFFFF;
    background: rgb(55,241,9);
    /* background-image: linear-gradient(to right top, #fd2b2b, #fe1944, #fa0c5b, #f3136f, #e92282, #ea2a82, #eb3182, #ec3782, #f74071, #fe4d5f, #ff5d4e, #ff6f3c); */
    background-image: linear-gradient(to right top, #fd6c3a, #ff5d56, #ff5172, #ff4c8f, #ff50ad, #fb50ae, #f850af, #f450b0, #f94997, #f9477e, #f44a66, #ec5050);
    text-align: center;
    display: flex;
    align-items: center;
}

.container {
    width: 25%;
    margin: 0% auto;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    background: rgba(255, 255, 255, 0.274);
    box-shadow: 0 10px 32px 0 rgba(120, 14, 129, 0.733);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.274);
}

.container__conteudo {
    font-family: 'Lora', serif;
    width: 400px;
}

#loan-imagem {
    width: 180px;
    margin-top: 50px;
    border-radius: 50%;
    border: 3px solid #ffffffb9;
}

.titulo {
    color: black;
    font-size: 26px;
    padding: 25px 0;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-shadow: 0.1em 0.1em 0.4em rgba(0, 0, 0, 0.808)
}

.container__conteudo__frase{
    font-size: 18px;
    font-family:'Lora', serif;;
    color: rgba(0, 0, 0, 0.75);
    padding-bottom: 10px;

}

.container__links {
    width: 250px;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__links__link {
    width: 135px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    padding: 4px 16px;
    text-decoration: none;
    color: #000000b7;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    background: rgba(255, 255, 255, 0.274);
    box-shadow: 0 10px 32px 0 rgba(114, 11, 92, 0.671);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 25px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.275)
}

.icones {
    width: 28px;
    
}

.container__links__link:hover{
   transform: scale(1.1);
   text-decoration: underline;
   color: #fa0c5b9d;
   transition-duration: 275ms;
}

@media(max-width: 900px){
    .container{
        width: 70%;
    }

    #loan-imagem {
        width: 115px;
    }

    .container__links__link {
        width: 55%;
        margin-top: 3%;
        
    }

    .container__conteudo__frase {
        width: 50%;
        margin: 0 auto;
        
    }


}